@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --terminal-border-radius: 30px;

  --background: #282c34;
  --terminal-background: #171a1f;
  --terminal-shadow: rgba(0, 0, 0, 0.2);

  --scrollbar-background: #29292a;
  --scrollbar-handle: #3e4144;

  --color-white: #fff;
  --color-grey: rgb(196, 196, 196);

  --dot-1: #d95763;
  --dot-2: #ff9a26;
  --dot-3: #6abe30;

  --accent-color-1: #d95763;
  --accent-color-2: #ff9a26;
  --accent-color-3: #6abe30;
  --accent-color-4: #639bff;
  --accent-color-5: #d77bba;

  --path: rgb(221, 221, 221);
  --title-bar-text: rgba(255, 255, 255, 0.7);
  --footer: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Bebas Neue", cursive;
  color: white;
  background-color: var(--background);
}

.dot-1 {
  background: var(--dot-1);
}

.dot-2 {
  background: var(--dot-2);
}

.dot-3 {
  background: var(--dot-3);
}

.color-white {
  color: var(--color-white);
}

.color-grey {
  color: var(--color-grey);
}

.color-1 {
  color: var(--accent-color-1);
}

.color-2 {
  color: var(--accent-color-2);
}

.color-3 {
  color: var(--accent-color-3);
}

.color-4 {
  color: var(--accent-color-4);
}

.color-5 {
  color: var(--accent-color-5);
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100vw;
  height: 8vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  color: var(--footer);
}

.window {
  width: 75vw;
  height: 80vh;
  background: var(--terminal-background);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--terminal-border-radius);
  padding: var(--terminal-border-radius);
  padding-top: 20px;
}

.title-bar {
  width: 100%;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-bar-text);
}

.title-bar-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  margin: 0px 7px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.terminal {
  width: 100%;
  height: calc(100% - var(--terminal-border-radius));
  background: transparent;
  color: var(--text);
  overflow: auto;
  font-size: 25px;
  border: none;
  outline: none;
  resize: none;
}

.terminal::-webkit-scrollbar {
  background: var(--scrollbar-background);
  border-radius: 5px;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-handle);
  border-radius: 5px;
}

.terminal::-webkit-scrollbar {
  width: 10px;
}

.line {
  width: 100%;
  height: 3vh;
}

.big {
  font-size: 40px;
}

.big-box {
  height: 5vh !important;
}

.link {
  text-decoration: underline;
}

.center-text {
  display: flex;
  justify-content: center;
}

span {
  white-space: pre;
}

.terminal-input {
  font-family: "Bebas Neue", cursive;
  white-space: pre;
  color: var(--text);
  scrollbar-color: dark;
  background-color: transparent;
  font-size: 25px;
  border: none;
  outline: none;
  resize: none;
}

#notification {
  flex-direction: column;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background: var(--background);
  width: 100vw;
  height: 100vh;
}

#notification p {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

#notification a {
  font-size: 30px;
  text-decoration: underline;
  color: var(--accent-color-1);
}

@media screen and (max-width: 1000px) {
  #notification {
    display: flex;
  }
}

@media screen and (max-height: 600px) {
  #notification {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .window {
    padding: calc(var(--terminal-border-radius) * 0.75);
  }

  .title-bar {
    width: 100%;
    font-size: 15pt;
  }

  .dot {
    margin: 0px 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  .terminal {
    font-size: 20px;
  }

  .window {
    width: 90vw;
    height: 80vh;
  }

  .terminal-input {
    font-size: 20px;
  }

  .big {
    font-size: 35px;
  }

  .line {
    height: 2vh;
  }

  .big-box {
    height: 4vh !important;
  }
}
